{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'chatrooms/nav.html' %}
    <div class="container">
        <h3 class="heading">What chat room would you like to enter?</h3>
        <input class="textInput" id="room-name-input" type="text" size="100"><br>
        <input class="button" id="room-name-submit" type="button" value="Enter">
    </div>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>