{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <a class="leaveButton" href="{% url 'index' %}">Leave Room</a>

    <div class="container">
        <div id="chat-log">
            {% for chat in chats.all %}
                {% if chat.user.id == request.user.id %}
                    <div class="message sender">
                        {{ chat.content }}
                    </div>
                {% else %}
                    <div class="message receiver">
                        {{ chat.content }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <input class="textInput" id="chat-message-input" type="text" placeholder="Say something!"><br>
        <input class="button" id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
    </div>

    {{ request.user.id|json_script:"user_id" }}
    <script src="{% static 'room.js' %}"></script>
</body>
</html>